RewriteEngine on


#No access to sensitive directory
RewriteRule ^Configs\/.*$ no-access.php [L]
RewriteRule ^Controllers\/.*$ no-access.php [L]
RewriteRule ^Library\/.*$ no-access.php [L]
RewriteRule ^Views\/.*$ no-access.php [L]


RewriteCond  %{REQUEST_FILENAME} !-f
RewriteCond  %{REQUEST_FILENAME} !-d
RewriteRule ^/?(.*)$ no-access.php [L]




